{{#location}}
<li data-markerid="{{markerid}}">
    <div class="image">
        <img src="{{image}}" style="width:30px;">
    </div>


    <div class="information">
        <strong class="loc-name">{{name}}</strong><br />
        {{displayname}} - {{distance}} km<br />
        {{openingtimes}}<br />
        <span class="loc-addr">{{street}} {{houseNumber}}</span><br />
        <span class="loc-addr">{{postal}} {{city}} ({{country}})</span><br />
    </div>

    <div class="pricemonta">{{price}}</div>

    <div class="clearboth"></div>

</li>
{{/location}}