.monta-hide{
    display: none !important;
}

body.monta-cover-open{
    overflow: hidden !important;
}

.montapacking-shipping{
    margin-bottom: 20px;
}

.monta-times-croppped {
    margin-top:20px;
}


.montapacking-shipping .monta-options{
    width: 100%;
    text-align: center;
    font-size: 0;
    vertical-align: top;
    display: table;
}

.montapacking-shipping .monta-options .monta-option{
    width: 50%;
    display: table-cell;
    padding: 0 15px;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.montapacking-shipping .monta-options .monta-option.monta-disabled{
    font-style: italic;
    color: #aaa;
    cursor: default;
}

.montapacking-shipping .monta-options .monta-option label{
    display: block;
    height: 100%;
}

.montapacking-shipping .monta-option label span.block{
    border: 2px solid #eee;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}

.montapacking-shipping .monta-options .monta-option label input:checked + span{
    background: #f5f5f5;
    border-color: #00b5e2;
}
.montapacking-shipping .monta-options .monta-option label input{
    margin-right: 8px;
    position: absolute;
    top: 18px;
    left: 30px;
}

.montapacking-shipping .monta-options .monta-option label strong{
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
}

.montapacking-shipping .monta-options .monta-option label .text{
    display: block;
    font-size: 12px;
}

.monta-times{
    display: table;
    width: 100%;
	margin-bottom:25px;
}
.monta-times .toggle-left,
.monta-times .toggle-right,
.monta-times .scroller
{
    vertical-align: top;
    display: table-cell;
    height: 70px;
}

.monta-times .toggle-left,
.monta-times .toggle-right{
    width: 50px;
    background: #eee;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}

.monta-times .toggle-left:hover,
.monta-times .toggle-right:hover{
    cursor: pointer;
    color: #fff;
    background: #00b5e2;
}

.monta-times .error{
    padding: 20px;
    text-align: center;
}

.monta-times .scroller .mover{
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 100%;
}

.monta-times ul{
    position: absolute;
    width: 10000px;
    height: 70px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.monta-times ul li{
    width: 125px;
    height: 70px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    margin: 0 5px;
}

.monta-times ul li label > span{
    position: absolute;
    border: 2px solid #eee;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.monta-times ul li label > span span{
    display: block;
    padding: 0 5px;
}

.monta-times span.price{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	color:#333;
}

.monta-times ul li label input[type=radio]{
    z-index: 5;
    position: absolute;
    margin: -4px 0 0 -10px;
    padding: 0;
    vertical-align: top;
}

.monta-times ul li label span.day{
    font-weight: bold;
    display: block;
    padding-left: 20px;
	color:#333;
}

.monta-times ul li label span.description{
	color:#333;
	font-style:italic;
}



.monta-times label input:checked + span{
    background: #f5f5f5;
    border-color: #00b5e2;
	color:#333;
}

.monta-loading,
.monta-shipment-delivery,
.monta-shipment-extras,
.monta-shipment-pickup{
    display: none;
}

.monta-loading.active,
.monta-shipment-delivery.active,
.monta-shipment-extras.active,
.monta-shipment-pickup.active{
    display: block;
    margin-top:10px;
    margin-left:15px;
}

.monta-shipment-extras label,
.monta-shipment-shipper label{
    position: relative;
    display: block;
    margin-top: 10px;
    height: 45px;
    line-height: 40px;
		color:#333;
}

.monta-shipment-shipper img {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}

.monta-shipment-shipper .name {
    display: inline-block;
    vertical-align: text-bottom;
	color:#333;
}

.monta-shipment-extras label input[type=checkbox],
.monta-shipment-shipper label input[type=radio]{
    z-index: 5;
    position: absolute;
    margin: 16px;
    padding: 0;
    vertical-align: top;
}

.monta-shipment-extras label > span,
.monta-shipment-shipper label > span{
    position: absolute;
    border: 2px solid #eee;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
	color:black;
}

.monta-shipment-extras label > span span.price,
.monta-shipment-shipper label > span span.price{
    font-weight: bold;
    float: right;
    padding: 0 10px;
	color:black;
}

.monta-shipment-extras label input:checked + span,
.monta-shipment-shipper label input:checked + span{
    background: #f5f5f5;
    border-color: #00b5e2;
}

.monta-shipper-template,
.monta-extra-template,
.monta-choice-template
{
    display: none !important;
}

.monta-cover{
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.monta-cover .monta-window{
    background: #fff;
    padding: 0;
    margin: 50px auto;
    width: 70%;
    height: 100%;
    max-height: 80%;
}

.monta-pickup-active{
    position: relative;
    height: 100%;
    width: 100%;
}

.monta-pickup-loading{
    padding: 25px;
}

.monta-locations{
    width: 30%;
    padding-bottom: 50px;
}

.monta-locations .scroller{
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

.monta-locations ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.monta-locations ul li{
    cursor: pointer;
    padding: 8px 12px;
    line-height: 20px;
    font-size: 14px;
    background: #fff;
}

.monta-locations ul li:nth-child(odd){
    background: #f5f5f5;
}

.monta-locations ul.list li.list-focus{
    background: #00b5e2;
    color: #fff;
}

.monta-locations ul li .price{
    float: right;
    font-weight: bold;
    font-size: 16px;
}

#monta-stores{
    display: table !important;
    height: 100%;
    width: 100%;
}

#monta-stores .monta-locations,
#monta-stores .monta-map{
    display: table-cell;
    vertical-align: top;
    position: relative;
    background: #fff;
}


.bh-sl-map{
    height: 100%;
    width: 100%;
}

.bh-sl-filters{
    list-style: none;
    margin: 0;
    padding: 15px;
}

.bh-sl-filters li{
    display: inline-block;
    padding-right: 20px;
}

.monta-close-pickup{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    color: #b00;
    text-align: center;
    height: 55px;
    line-height: 55px;
    width: 55px;
    cursor: pointer;
    font-size: 30px;
}

.monta-close-pickup:hover{
    background: #b00;
    color: #fff;
}

.monta-select-pickup{
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #007a99;
    color: #fff;
    text-align: center;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.monta-select-pickup:hover{
    background: #0b0;
}

.monta-select-pickup.active{
    display: block;
}

.monta-more-pickup-points:hover{
    cursor: pointer;
}

#monta-address-required {
    font-style: italic;
    padding: 0 15px;
}

/*Initial pickups stylign*/
.monta-initial-pickup {
    margin-top: 10px;
    border: 2px solid #eee;
    background: white !important;
}

.monta-initial-pickup>input {
    position: absolute;
    margin: 24px;
    padding: 0;
    vertical-align: top;
}

.monta-initial-pickup>span * {
    padding-left: 70px;
}

#initialPickupsList li {
    margin-top: 10px;
    border: 2px solid #eee;
    background: white;
    list-style-type: none;
}

#initialPickupsList li.list-focus{
    background-color: #eee;
    border: 2px solid #00b5e2;
}

.initialPickupRadio {
    margin: 25px 25px 25px 15px;
    float: left;
}

/* Specific styling for firefox */
@-moz-document url-prefix() {

    .bh-sl-map{
        position: fixed !important;
        max-height: 80vh;
        max-width: 47.5%;
    }

    .bh-sl-loc-list {
        max-height: 75.1vh;
    }

    .monta-locations {
        padding-bottom: unset !important;
    }

}

/* Specific styling for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bh-sl-loc-list {
        max-height: 80vh;
    }
}