/******************** GENERAL CSS */
.monta-hide {
    display: none !important;
}
body.monta-cover-open {
    overflow: hidden !important;
}
.clearboth {
    clear: both;
}
.monta-loading, .monta-shipment-delivery, .monta-shipment-extras, .monta-shipment-pickup {
    display: none;
}
.monta-loading.active, .monta-shipment-delivery.active, .monta-shipment-extras.active, .monta-shipment-pickup.active {
    display: block;
}
.monta-times-croppped, .monta-times-cropped-error, .monta-pickup-selected {
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
}
.monta-times-extended {
    margin-bottom: 10px;
}
.monta-loading {
    width:32px;
    height:32px;
    overflow: hidden;
    background-image: url('/wp-content/plugins/montapacking-checkout-woocommerce-extension/assets/img/loading.gif');
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}


.monta-shipper-template, .monta-extra-template, .monta-choice-template {
    display: none !important;
}
.montapackingshipmenttime {
    display: none !important;
}
/******************** DELIVERY OPTIONS CSS */
.selectshipment {
    display: none;
}
#monta-address-required {
    font-style: italic;
    font-size: 14px;
}
.montapacking-shipping .monta-options {
    width: 50%;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 10px;
}
.montapacking-shipping .monta-options .block {
    padding: 10px 10px !important;
    text-align: center;
    list-style: none;
    margin: 0 !important;
    padding: 0;
    color: #474747 !important;
}
@media only screen and (max-width: 690px) {
    .montapacking-shipping .monta-options {
        width: 100%;
        text-align: center;
        font-size: 0;
        vertical-align: middle;
        display: table;
    }
}
.montapacking-shipping .monta-options .monta-option {
    display: table-cell;
    padding-left: 8px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}
.montapacking-shipping .monta-options .monta-option:nth-child(1) {
    padding: 0 8px 0 0 !important;
}
.montapacking-shipping .monta-options .monta-option label {
    display: block;
    height: 100%;
}
.montapacking-shipping .monta-option label span.block {
    border: 1px solid #eee;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}
.montapacking-shipping .monta-options .monta-option label input:checked + span {
    background: #fff;
    border-color: #79898C;
}
.montapacking-shipping .monta-options .monta-option label input {
    margin-right: 8px;
    position: absolute;
    top: 18px;
    left: 30px;
}
.montapacking-shipping .monta-options .monta-option label {
    font-size: 16px;
}
.montapacking-shipping .monta-options .monta-option label .text {
    display: block;
    font-size: 12px;
}
/******************** MONTA TIMES CSS */
.monta-times {
    display: table;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.monta-times .toggle-left, .monta-times .toggle-right, .monta-times .montascroller {
    vertical-align: top;
    display: table-cell;
    height: 60px;
    width: 100%;
}
.monta-times .toggle-left, .monta-times .toggle-right {
    width: 30px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid #eee;
}
.monta-times .toggle-left:hover, .monta-times .toggle-right:hover {
    cursor: pointer;
    color: #fff;
    background: #79898C;
}
.monta-times .error {
    padding: 20px;
    text-align: center;
}
.monta-times .montascroller .mover {
    overflow: hidden;
    position: relative;
    height: 60px;
    width: 100%;
}
.monta-times ul {
    position: absolute;
    width: 10000px;
    height: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.monta-times ul li {
    width: 110px;
    height: 60px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    list-style: none !important;
    margin: 0 5px;
}
.monta-times ul li label > span {
    position: absolute;
    border: 1px solid #eee;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}
.monta-times ul li label > span span {
    display: block !important;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    line-height:22px;
}
.monta-times ul li label input[type=radio] {
    z-index: 5;
    position: absolute;
    margin: -4px 0 0 -10px;
    padding: 0;
    vertical-align: top;
}
.monta-times label input:checked + span {
    background: #f5f5f5;
    border-color: #79898C;
}
.monta-times ul li label span.dayname {
    font-weight: bold;
    display: block !important;
    padding-top: 6px;
}
.monta-times ul li label span.day {
    display: block !important;
}
.monta-times ul li label span.description {
    font-style: italic;
    font-size: 12px;
}
/******************** MONTA TIMES CROPPED CSS */
.monta-times-croppped {
    display: block;
}
.monta-times-croppped .delivery-time {
    font-weight: 700;
    display:none;
}
.monta-times-croppped .send-time {
    font-weight: 700;
    display:none;
}
.monta-times-croppped .imglogo {
    float: left;
}
.monta-times-croppped .imglogo img {
    width: 50px;
    margin-right: 15px;
}
.monta-times-croppped .information {
    float: left;
    width: calc(100% - 65px)
}
.monta-times-croppped .information .deliveryinfo {
    float: left;
    margin-right: 3px;
}
/******************** SHIPPER OPTIONS CSS */
.monta-shipment-shipper input {
    display: none;
}
.monta-shipment-shipper label.checked {
    background: #f5f5f5;
    border-color: #79898C;
}
.monta-shipment-shipper label {
    position: relative;
    display: block !important;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px 0px;
    font-size: 14px;
}
.monta-shipment-shipper label div.image {
    width: 50px;
    float: left;
}
.monta-shipment-shipper label div.image img {
    width: 30px;
    margin-left: 10px;
    height: 30px;
}
.monta-shipment-shipper label div.information {
    width: calc(100% - 110px);
    float: left;
    font-size: 14px;
    line-height:30px;
}
.monta-shipment-shipper label div.pricemonta {
    width: 50px;
    float: right;
    text-align: right;
    margin-right: 10px;
    line-height:30px;
}
.monta-shipment-shipper label input:checked + span {
    background: #f5f5f5;
    border-color: #79898C;
}
/******************** EXTRAS OPTIONS CSS */
.monta-shipment-extras {
    margin-bottom: 10px;
}
.monta-shipment-extras label {
    position: relative;
    display: block !important;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px 0px;
    font-size: 14px;
}
.monta-shipment-extras label div.checkbox {
    width: 40px;
    float: left;
    text-align: center;
}
.monta-shipment-extras label div.information {
    width: calc(100% - 100px);
    float: left;
    font-size: 14px;
}
.monta-shipment-extras label div.pricemonta {
    width: 50px;
    float: right;
    text-align: right;
    margin-right: 10px;
}
/******************** PICK UP OPTIONS CSS */
.monta-pickup-selected-title {
    display: none;
}
.monta-pickup-selected {
    position: relative;
    display: none;
}
.monta-locations {
    width: 30%;
}
.monta-locations .scroller {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}
.monta-locations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.monta-locations ul li {
    cursor: pointer;
    padding: 8px 12px;
    line-height: 20px;
    font-size: 14px;
    background: #fff;
}
.monta-locations ul li div.image {
    width: 50px;
    float: left;
}
.monta-locations ul li div.image img {
    width: 30px;
    margin-left: 10px;
    max-height: 30px;
    margin-top: 16px;
}
.monta-locations ul li div.information {
    width: calc(100% - 110px);
    float: left;
    font-size: 14px;
}
.monta-locations ul li div.pricemonta {
    width: 50px;
    float: right;
    text-align: right;
    margin-right: 10px;
}
.monta-locations ul li:nth-child(odd) {
    background: #f5f5f5;
}
.monta-locations ul.list li.list-focus {
    background: #79898C;
   border: 1px solid #000;
}
#monta-stores {
    display: table !important;
    height: 100%;
    width: 100%;
}
#monta-stores .monta-locations, #monta-stores .monta-map {
    display: table-cell;
    vertical-align: top;
    position: relative;
    background: #fff;
}
#initialPickupsList li {
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: white;
    list-style-type: none;
}
#initialPickupsList li.list-focus {
    background-color: #eee;
    border: 1px solid #79898C;
}
input[name=initialPickupPointRadio] {
    display: none;
}
/******************** STORE LOCATOR CSS */
.monta-cover {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.monta-cover .monta-window {
    background: #fff;
    padding: 0;
    margin: 50px auto;
    width: 85%;
    height: 100%;
    max-height: 80%;
}
.monta-pickup-active {
    position: relative;
    height: 100%;
    width: 100%;
}
.monta-pickup-loading {
    padding: 25px;
}
.bh-sl-map {
    height: 100%;
    width: 100%;
}
.bh-sl-filters {
    list-style: none;
    margin: 0;
    padding: 15px;
}
.bh-sl-filters li {
    display: inline-block;
    padding-right: 20px;
}
.monta-close-pickup {
    position: absolute;
    top: 0px;
    right: 0;
    background: #fff;
    color: #b00;
    text-align: center;
    height: 55px;
    line-height: 55px;
    width: 55px;
    cursor: pointer;
    font-size: 24px;
}
.monta-close-pickup:hover {
    background: #b00;
    color: #fff;
}
.monta-select-pickup {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #79898C;
    color: #fff;
    text-align: center;
    display: none;
    cursor: pointer;
    line-height:50px
}
.monta-select-pickup:hover {
    background: #657578;
}
.monta-select-pickup.active {
    display: block;
}
.monta-more-pickup-points:hover {
    cursor: pointer;
}
.monta-shipment-pickup .bh-sl-loc-list {
    margin-top: 10px;
}
/******************** BROWSER FIXES CSS */
/* Specific styling for firefox */
@-moz-document url-prefix() {
    .bh-sl-map {
        position: fixed !important;
        max-height: 80vh;
        max-width: 59.5%;
    }
    .bh-sl-loc-list {
        max-height: 74.5vh;
    }
}
/* Specific styling for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bh-sl-loc-list {
        max-height: 80vh;
    }
}
@media screen and (max-width: 600px) {
    .monta-more-pickup-points {
        display: none !important;
    }
    .monta-shipment-pickup.active {
        margin-top: 0px;
    !important;
    }
}
